@media (min-width: 325px ) and (max-height: 720px){
  body{
    background-color: rgb(252, 207, 165);

  }
  .headers{
    position: relative;
    top:30px;
    left: 20px;

  }
  .hello{
    font-size: 18px;
    color: rgb(124, 124, 124);

  }
  .intro{
    font-size: 25px;
    color: rgb(124, 124, 124);
  }
  .pic{
    position: absolute;
    top: 15px;
    left: 10px;
    height: 120px;
    width: 368px;
    border-radius: 12px;
    object-fit: fill;
  }
  .info{
    position: relative;
    top: 65px;
    left: 20px;
    color: rgb(124, 124, 124);

  }
  .infolist{
    position: relative;
    left: 3px;
    color: rgb(124, 124, 124);

  }
  .slide{
    position: relative;
    top: 55px;
    left: 20px;
    color: rgb(124, 124, 124);
    

  }
  .mainImg{
    position: relative;
    height: 190px;
    width: 300px;
    top: 15px;
    left: 25px;
  }
  .actions{
    position: relative;
    height: 190px;
    width: 300px;
    top: 18px;
    left: 135px;
  }
  .slideinfo{
    font-size:13px;
  }
  

  
}